@page
@model Singularity_Website.Pages.MyPageModel
@{
    ViewData["Title"] = "My Page";
}

<!-- Include the Bootstrap CSS file -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />




<!-- Existing content of your MyPage.cshtml file -->
<h1>Welcome to My Page!</h1>
<p>This is a custom page created using Razor Pages.</p>
<p>Current date and time: @DateTime.Now</p>
